<footer class="bg-dark w-100">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>  

  <div class="container-lg p-4">
    <h2 class="text-white">{{ site.sitename | escape }}</h2>

    <div class="row gh-2 w-100">

      <div class="col-sm-4 col-xs-12">
        <ul class="contact-list">
          <li class="p-name text-white">
            {%- if site.author -%}
              {{ site.author.name | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li class="text-white">
              <a class="u-email" href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
            {%- endif -%}
            
        </ul>
      </div>

      <div class="col-sm-4 col-xs-12">
        {%- include social.html -%}
      </div>

      <div class="col-sm-4 col-xs-12">
        <p class="text-white">{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>


</footer>
