<header class="site-header" role="banner">

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  
  {%- if page_paths -%}
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-lg">
      <!-- PP - Brand: -->
      <a class="navbar-brand" href="{{ "/" | relative_url }}">
        <img src="/assets/images/{{ site.brand }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
        {{ site.title | escape }}
      </a>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          
          <!-- NavItem without dropdown -->
          {%- for path in page_paths -%}
            {%- assign current_page = site.pages | where: "path", path | first -%}
            {%- if current_page.title -%}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  href="{{ current_page.url | relative_url }}">
                {{ current_page.title | escape }}
              </a>
            </li>
            {%- endif -%}
          {%- endfor -%}
          
          <!-- NavItem with dropdown -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li> -->
          
        </ul>
        
        <!-- Search form -->
        <form class="d-flex">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary text-white " type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>

      </div>
    </div>
  </nav>

  {%- endif -%}

</header>
